@import "../node_modules/bootstrap/scss/bootstrap.scss";

h1 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 0.8rem;
}

h3 {
  font-size: 1.2rem;
  margin-bottom: 0.6rem;
}

.text-small {
  font-size: 0.8rem;
}

.app-main {
    position: relative;
    overflow: hidden;
    margin-left: 64px;
    min-height: 100vh;
    background-color: #f7f7f7;
    transition: all .15s;
    @include media-breakpoint-up(md) {
      &.expanded {
        margin-left: 240px;
      }
    }
}

/*.nav-link {
  padding: 0.5rem 0;
}*/

.tab-content {
  padding: 1rem .5rem;
}

.card-header {
  font-variant: all-petite-caps;
  font-weight: bold;
  padding: 0.75rem;
}

.card-body {
  padding: 0.75rem;
}